// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colour scheme
$dark-blue: #0D0E24;
$blue: #24265A;
$light-blue: #5f6998;
$light-blue: #485381;
$green: #33955D;
$dark-green: #1f5d38;

// Body
$body-bg: $blue;
