// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

html {
  padding: 0;
  margin: 0;
}

body {
  background: $body-bg;
  font-family: Helvetica, sans-serif;
  margin: 0;
}
